html,
body,
.view {
    height: 100vh;
    background-color: rgb(77,182,172);
    /* background: radial-gradient(circle, rgba(77,182,172,1) 35%, rgba(0,150,136,1) 100%); */
    background: linear-gradient(142deg, rgba(77,182,172,1) 35%, rgba(0,150,136,1) 100%);
}

/* .rgba-gradient {
    background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
    background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
    background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  } */
.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

.auth-overlay {
    color: #fff;
    background-color: rgb(77,182,172);
    background: linear-gradient(142deg, rgba(77,182,172,1) 35%, rgba(0,150,136,1) 100%);
    margin: -1.25rem;
    padding: 1.75rem;
    text-transform: uppercase;
}
.font-small-custom {
    font-size: .8rem!important;
}
.active {
    transform: translateY(140%);
    font-size: .8rem;
}

input:focus + label {
    transform: translateY(-140%);
    font-size: .8rem;
}